<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        body{
            display: flex;
            justify-content: center;
            align-content: center;
            height: 90vh;
        }
    </style>
</head>
<body class="bg-black text-light">
    <div class="container my-5 p-3 text-center" >
        <h1 class="text-center" >Welcome, <%= user.name %></h1>
        <h3><%=user.email %> </h3>
        <div class="my-5">
            <img src="<%= user.imageUrl %>" alt=""
            style="width: 200px; height: 250px ; border-radius: 5%; border: 2px solid white;"
            >
        </div>
        <div class="my-5">
            <a href="/" class="btn btn-danger mx-3">LogOut</a>
        </div>
    </div>
    
</body>
</html>